<ion-view view-title="Touchpad">
  <ion-nav-buttons side="primary">
        <button class="button" ng-click="showKeyboard()">
          <i class="ion-compose"></i>
        </button>
      </ion-nav-buttons>
  <ion-content class="padding"
               id="touchpad"
               scroll="false"
               on-drag="dragEvent($event)">

               <p>Tap X : {{data.tapX}}</p>
               <p>Tap Y : {{data.tapY}}</p>
                <textarea ng-> </textarea>
  </ion-content>
  </ion-content>
</ion-view>
